// import fonts
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");

// global rules
*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --main-font: "Bebas Neue", cursive;
  --secondary-font: "Inria Sans", sans-serif;
  --green-color: #50feb0;
}

// global and util classes
.container {
  padding: 15px;
  width: 100%;
  margin: 0 auto;

  @media (min-width: 576px) {
    width: 540px;
  }
  @media (min-width: 768px) {
    width: 720px;
  }
  @media (min-width: 922px) {
    width: 960px;
  }
  @media (min-width: 1200px) {
    width: 1140px;
  }
  @media (min-width: 1400px) {
    width: 1320px;
  }
}
