// import fonts
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");

// global rules
*,
*::before,
**::after {
  box-sizing: border-box;
}

:root {
  --main-font: "Bebas Neue", cursive;
  --secondary-font: "Inria Sans", sans-serif;
}
